{{- /*gotype: github.com/vsfedorenko/go-arch-lint/internal/models.CmdGraphOut*/ -}}

{{ if .IsTextOutput -}}
	{{ .GraphSource -}}
{{ else -}}
	Graph outputted to:
	{{ .OutFile | colorize "blue" }}
{{ end -}}
