{{- /*gotype: github.com/vsfedorenko/go-arch-lint/internal/models.CmdCheckOut*/ -}}

module: {{.ModuleName | colorize "green"}}
linters:
{{ range .Qualities }}
	{{- if .Used -}}
		{{"   On" | colorize "green" -}}
	{{- else -}}
		{{"  Off" | colorize "yellow" -}}
	{{- end -}}
	{{" | " | colorize "gray" -}} {{ .Name -}}
	{{ concat " # " .Hint | colorize "gray" }}
{{ end }}

{{ range .DocumentNotices -}}
	{{.Text}}
	{{ if .SourceCodePreview -}}
		{{ .SourceCodePreview | printf "%s" -}}
	{{ end -}}
{{ else -}}
	{{ if .ArchHasWarnings -}}
		{{ $warnCount := (plus (plus (plus (len .ArchWarningsDependency) (len .ArchWarningsMatch)) (len .ArchWarningsDeepScan)) (len .ArchWarningsNaming) ) -}}
		{{ range .ArchWarningsDependency -}}
			Component {{.ComponentName | colorize "magenta"}} shouldn't depend on {{ .ResolvedImportName | colorize "blue"}} in {{ .Reference | colorize "gray"}}
		{{ end -}}
		{{ range .ArchWarningsNaming -}}
			Package name {{.PackageName | colorize "magenta"}} is forbidden {{ .PackagePath | colorize "cyan" }} ({{ .FilesCount }} file(s)): first at {{.FileRelativePath | colorize "gray"}}
		{{ end }}
		{{ range .ArchWarningsMatch -}}
			File {{.FileRelativePath | colorize "cyan"}} not attached to any component in archfile
		{{ end }}
		{{ range .ArchWarningsDeepScan }}
			Dependency {{.Dependency.ComponentName | colorize "magenta"}} -\-> {{.Gate.ComponentName | colorize "magenta"}} not allowed
			  ├─ {{.Dependency.ComponentName | colorize "magenta"}} {{.Dependency.Name | colorize "blue"}} in {{ .Target.RelativePath | colorize "gray" }}
			  └─ {{.Gate.ComponentName | colorize "magenta"}} {{.Gate.MethodName | colorize "blue"}} in {{ .Gate.RelativePath | colorize "gray" }}
			{{ " " }}
			{{ concat "     " .Dependency.Injection.File ":" .Dependency.Injection.Line | colorize "gray" }}
			{{ if .Dependency.SourceCodePreview -}}
				{{ .Dependency.SourceCodePreview | printf "%s" | linePrefix "     " -}}
			{{ end }}
		{{ end }}

		--
		total notices: {{ plus $warnCount .OmittedCount | printf "%d" | colorize "yellow" }}
		{{ if gt .OmittedCount 0 -}}
			omitted: {{.OmittedCount | printf "%d" | colorize "yellow" }} (too big to display)
		{{ end }}
		{{ if gt .SuppressedCount 0 -}}
			suppressed: {{.SuppressedCount | printf "%d" | colorize "gray" }} (by //go-arch-lint:ignore directives)
		{{ end }}
		{{ if or (gt .BaselineKnownCount 0) (gt .BaselineNewCount 0) -}}
			baseline: {{.BaselineNewCount | printf "%d" | colorize "yellow" }} new, {{.BaselineKnownCount | printf "%d" | colorize "gray" }} known (tolerated)
		{{ end }}
	{{ else -}}
		{{"OK - No warnings found" | colorize "green" -}}
	{{ end -}}
{{ end -}}